<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timebusker.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.timebusker.model.SysMenu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="is_frame" jdbcType="INTEGER" property="isFrame"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="sort" jdbcType="BIGINT" property="sort"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <collection property="children" ofType="com.timebusker.model.SysMenu" column="id">
            <id column="id2" jdbcType="BIGINT" property="id"/>
            <result column="is_frame2" jdbcType="INTEGER" property="isFrame"/>
            <result column="name2" jdbcType="VARCHAR" property="name"/>
            <result column="component2" jdbcType="VARCHAR" property="component"/>
            <result column="pid2" jdbcType="BIGINT" property="pid"/>
            <result column="sort2" jdbcType="BIGINT" property="sort"/>
            <result column="icon2" jdbcType="VARCHAR" property="icon"/>
            <result column="url2" jdbcType="VARCHAR" property="url"/>
            <result column="create_time2" jdbcType="TIMESTAMP" property="createTime"/>
            <collection property="children" ofType="com.timebusker.model.SysMenu" column="id">
                <id column="id3" jdbcType="BIGINT" property="id"/>
                <result column="is_frame3" jdbcType="INTEGER" property="isFrame"/>
                <result column="name3" jdbcType="VARCHAR" property="name"/>
                <result column="component3" jdbcType="VARCHAR" property="component"/>
                <result column="pid3" jdbcType="BIGINT" property="pid"/>
                <result column="sort3" jdbcType="BIGINT" property="sort"/>
                <result column="icon3" jdbcType="VARCHAR" property="icon"/>
                <result column="url3" jdbcType="VARCHAR" property="url"/>
                <result column="create_time3" jdbcType="TIMESTAMP" property="createTime"/>
            </collection>
        </collection>
    </resultMap>

    <!--mybaits 中没有else要用chose when otherwise 代替-->
    <select id="queryMenuTree" parameterType="Long" resultMap="BaseResultMap">
        SELECT
        t1.id,
        t1.is_frame,
        t1.name,
        t1.component,
        t1.pid,
        t1.sort,
        t1.icon,
        t1.url,
        t1.create_time,
        t2.id id2,
        t2.is_frame is_frame2,
        t2.name name2,
        t2.component component2,
        t2.pid pid2,
        t2.sort sort2,
        t2.icon icon2,
        t2.url url2,
        t2.create_time create_time2,
        t3.id id3,
        t3.is_frame is_frame3,
        t3.name name3,
        t3.component component3,
        t3.pid pid3,
        t3.sort sort3,
        t3.icon icon3,
        t3.url url3,
        t3.create_time create_time3
        FROM sys_menu t1 LEFT JOIN sys_menu t2 ON t1.id = t2.pid
        LEFT JOIN sys_menu t3 ON t2.id = t3.pid
        <where>
            <choose>
                <when test="pid !=0">
                    t1.pid = #{pid}
                </when>
                <otherwise>
                    t1.pid = 0
                </otherwise>
            </choose>
            <if test="id !=0">
                t1.id= #{id}
            </if>
        </where>
        order by pid,sort
    </select>
</mapper>