<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>spring-boot-vue</title>
    <!-- 统一样式表引入 -->
    <!--重置基础样式-->
    <link href="css/common/reset.css" rel="stylesheet">
    <!--图标-->
    <link href="libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--当前页面样式表-->
    <link href="css/index.css" rel="stylesheet">
    
    <!--JS库导入-->
    <!--Vue组件-->
    <script src="libs/vue-2.5.2/vue.js"></script>
    <script src="libs/vue-router-3.0.1/vue-router.js"></script>
    <!--ElementUI-->
    <link rel="stylesheet" href="libs/element-ui-2.11.0/theme-chalk/index.css">
    <script src="libs/element-ui-2.11.0/index.js"></script>
    <!--axiosJS-->
    <script src="libs/axios-0.18.1/axios.min.js"></script>
    <!--JS-COOKIE-->
    <script src="libs/js-cookie-2.2.0/js.cookie.js"></script>
    <!--JQuery-->
    <script src="libs/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    
    
    <!--Require需要放在最后-->
    <script src="libs/requirejs-2.3.5/require.js"></script>
    <!-- requireJS异步加载内容 -->
    <script>
        require.config({
            paths: {
                text: 'libs/requirejs-2.3.5/text'
            }
        });
    </script>
</head>
<body>
<!--element-UI必须初始化Vue实例才生效-->
<el-container id="app">
    <el-header id="home-header">
        <el-menu class="el-menu-demo" mode="horizontal" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
<!--            <el-menu-item index="menu.menuId" :disabled="menu.disabled" target="menu.isFrame=true ? '_blank' : ''" v-if="menu.children == null" v-for="menu in menus">{{menu.menuName}}</el-menu-item>-->
            <el-menu-item index="1">处理中心</el-menu-item>
            <el-submenu index="2">
                <template slot="title">我的工作台</template>
                <el-menu-item index="2-1">待办任务</el-menu-item>
                <el-menu-item index="2-2">工作日志</el-menu-item>
                <el-menu-item index="2-3">个人信息</el-menu-item>
                <el-submenu index="2-4">
                    <template slot="title">部门管理</template>
                    <el-menu-item index="2-4-1">工作审批</el-menu-item>
                    <el-menu-item index="2-4-2">工作汇报</el-menu-item>
                    <el-menu-item index="2-4-3">部门预算</el-menu-item>
                </el-submenu>
            </el-submenu>
            <el-menu-item index="3" disabled>消息中心</el-menu-item>
            <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>
        </el-menu>
    </el-header>
    <el-container id="home-container">
        <el-aside id="home-aside">Aside</el-aside>
        <el-container id="main-container">
            <el-main id="home-main">Main</el-main>
            <el-footer id="home-footer">
                <el-tag style="font-weight: bold;margin: 0">timebusker.com</el-tag>
            </el-footer>
        </el-container>
    </el-container>
</el-container>
<!--引入当前页面组件-->

<!--自定义JS组件-->
<script type="text/javascript" src="js/utils/MenuUtil.js"></script>
<!--<script type="text/javascript" src="js/utils/AxiosUtil.js"></script>-->

<script type="text/javascript" src="js/index.js"></script>
</body>
</html>