<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>spring-boot-vue</title>
    <!-- 统一样式表引入 -->
    <!--重置基础样式-->
    <link href="css/common/reset.css" rel="stylesheet">
    <!--图标-->
    <link href="libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--当前页面样式表-->
    <link href="css/index.css" rel="stylesheet">

    <!--JS库导入-->
    <!--Vue组件-->
    <script src="libs/vue-2.5.2/vue.js"></script>
    <script src="libs/vue-router-3.0.1/vue-router.js"></script>
    <!--ElementUI-->
    <link rel="stylesheet" href="libs/element-ui-2.11.0/theme-chalk/index.css">
    <script src="libs/element-ui-2.11.0/index.js"></script>
    <!--axiosJS-->
    <script src="libs/axios-0.18.1/axios.min.js"></script>
    <!--JS-COOKIE-->
    <script src="libs/js-cookie-2.2.0/js.cookie.js"></script>
    <!--JQuery-->
    <script src="libs/jquery-3.4.1/jquery-3.4.1.min.js"></script>


    <!--Require需要放在最后-->
    <script src="libs/requirejs-2.3.5/require.js"></script>
    <!-- requireJS异步加载内容 -->
    <script>
        require.config({
            paths: {
                text: 'libs/requirejs-2.3.5/text',
                // 模块会引入组件
                // process
                backlogCard: 'js/work/backlog-card',
                backlogTable: 'js/work/backlog-table'
            },
            // 向服务端传递额外的参数，通常用来起到禁用缓存的效果
            urlArgs: "_t=" + new Date().getTime(),
            // 直接加载默认项，不需要申明依赖关系（before require.js is loaded）
            deps: ['text', 'backlogCard', 'backlogTable']
        });
    </script>
</head>
<body>
<!--element-UI必须初始化Vue实例才生效-->
<el-container id="app">
    <el-header id="home-header">
        <el-row style="width:100%;height: 100%;" :gutter="4">
            <el-col :span="22">
                <el-menu class="el-menu-demo" :default-active="activeIndex" mode="horizontal" background-color="#545c64"
                         text-color="#fff" active-text-color="#ffd04b" router style="border: none;"
                         @select="handleSelectMenu">
                    <!--:index="menu.url" 对应着 router 的 path -->
                    <el-menu-item :index="menu.url" :disabled="menu.disabled" v-if="menu.children.length === 0"
                                  :key="menu.id" v-for="menu in menus">
                        <template slot="title">
                            <a v-if="menu.type==='_blank'" :href="menu.url">{{menu.name}}</a>
                            <a v-else>{{menu.name}}</a>
                        </template>
                    </el-menu-item>
                    <el-submenu :index="menu.url" :disabled="menu.disabled" :key="menu.id" v-else>
                        <template slot="title">{{menu.name}}</template>
                        <el-menu-item :index="sub.url" :key="sub.id" v-for="sub in menu.children">{{sub.name}}
                        </el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-col>
            <el-col :span="2">
                <el-dropdown style="background: inherit;height: inherit;width: 100%;" size="medium"
                             placement="bottom-start">
                    <el-row style="line-height: 60px">
                        <el-col :span="8" style="height: 60px;padding-top: 10px">
                            <el-badge :value="3" class="item">
                                <el-avatar fit="fill" src="img/timebusker.gif"></el-avatar>
                            </el-badge>
                        </el-col>
                        <el-col :span="12">
                            <span style="font-size: 16px;font-weight: bold;color:white">timebusker</span>
                        </el-col>
                    </el-row>
                    <el-dropdown-menu slot="dropdown" style="height: inherit;line-height: 60px">
                        <el-dropdown-item index="1">系统消息</el-dropdown-item>
                        <el-dropdown-item index="2">个人中心</el-dropdown-item>
                        <el-dropdown-item index="3">修改密码</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
        </el-row>
    </el-header>
    <el-main id="home-main" style="background:rgb(171, 192, 214)">
        <router-view></router-view>
    </el-main>
</el-container>

<!--自定义JS组件-->
<script type="text/javascript" src="js/utils/MenuUtil.js"></script>
<!--<script type="text/javascript" src="js/utils/AxiosUtil.js"></script>-->

<!--页面Vue组件-->
<script type="text/javascript" src="js/system/menu.js"></script>
<script type="text/javascript" src="js/system/process-map.js"></script>
<script type="text/javascript" src="js/system/process-table.js"></script>

<script type="text/javascript" src="js/work/backlog.js"></script>

<script type="text/javascript" src="js/work/manage/approve.js"></script>
<!--本页面根组件，放在最后加载-->
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>