@font-face {
  font-family: 'iconfont';  /* project id 1079666 */
  src: url('//at.alicdn.com/t/font_1079666_114elpv9g07.eot');
  src: url('//at.alicdn.com/t/font_1079666_114elpv9g07.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1079666_114elpv9g07.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1079666_114elpv9g07.woff') format('woff'),
  url('//at.alicdn.com/t/font_1079666_114elpv9g07.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1079666_114elpv9g07.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
